table,
td,
th {
    border: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

.centrerFullPage{
    position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
body{
    background-color: steelblue;
}